<% layout('layouts/boilerplate.ejs')%> 
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error <%= err.statusCode %>, <%= err.message  %>  </h4>
  <br>
  <p><%= err.stack  %> </p>
</div>